body { 
  padding: 45px 0 0 0;
  background-color: #ffffff;
}

.form-narrow {
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.home-container {
	padding-top: 175px;
    padding-bottom: 175px;
  	position: relative;
  	text-align: center;
}

.home-container .home-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../images/lights.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 40%;
  opacity: .2;
  width: 100%;
  height: 100%;
}

.navbar-color {
	border-radius: 0px;
	background-color: #0F0F10;
	border-bottom: 2px solid #D85959;
}

.home-banner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #6EADFF;
}

p {
    font-size: 16px;
}

.navbar-nav > li > a{
	padding-top:22px; 
	padding-bottom:22px;
}

.navbar{
	min-height:44px;
}

.nav a{
	font-size: 1.2em;
}

.message-box {
  border-left: 1px solid #D85959;
  border-right: 1px solid #D85959;
  border-top: 1px solid #D85959;
  border-bottom: 1px solid #D85959;
}

.footer-bottom {
    background-color: #0F0F10;
    min-height: 30px;
    width: 100%;
    clear:both;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}

.p-padding {
	padding-top: 4px; 
	padding-bottom: 8px;
}