body { 
  padding: 45px 0 0 0;
  background-color: #ffffff;
}

.form-narrow {
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.home-container {
	padding-top: 240px;
    padding-bottom: 240px;
  	position: relative;
}

.home-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../images/lights.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 40%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbar-color {
	border-radius: 0px;
	background-color: #ffffff;
	border-bottom: 2px solid #1e73be;
}

.navbar-inverse .navbar-toggle {
    border-color: #1e73be;
    color: #1e73be;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #ffffff;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #1e73be;
}

.home-banner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #1e73be;
}

p {
    font-size: 16px;
}

.navbar-nav > li > a{
	padding-top:22px; 
	padding-bottom:22px;
}

.navbar-brand {
	padding-top:22px; 
	padding-bottom:22px;
}

.navbar{
	min-height:44px;
}

.nav a{
	font-size: 1.2em;
}

.message-box {
  border-left: 1px solid #D85959;
  border-right: 1px solid #D85959;
  border-top: 1px solid #D85959;
  border-bottom: 1px solid #D85959;
}

.footer-bottom {
    background-color: #101012;
    min-height: 30px;
    width: 100%;
    clear:both;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}

.p-padding {
	padding-bottom: 8px;
	color: white;
}

.modal {
	margin-top: 80px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #1e73be;
    background-color: transparent;
}

.navbar-inverse .navbar-brand .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #1e73be;
    background-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: #1e73be;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #9d9d9d;
    background-color: #fff;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #9d9d9d;
    white-space: nowrap;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #1e73be;
    text-decoration: none;
    background-color: #f5f5f5;
}