<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Utility Swap</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="home-container">
    <div class="home-img"></div>
    <h1>Want to beat the energy price rises?</h1>
	<h1 class="lead">Switch your energy in minutes!</h1>
    <div class="col-lg-5"></div>
    <div class="col-lg-2">
    	<input type="submit" value="Start my energy comparison" class="btn btn-block btn-danger"/>
    </div>
   	<div class="col-lg-5"></div>
</div>
<div class="col-sm-12">
	<div class="home-banner"></div>
	<div class="col-sm-4" align="center">
		<h3>
		<span class="glyphicon glyphicon-pencil"></span>
		Enter your details
		</h3>
		<p>It only takes a few minutes</p>
	</div>
	<div class="col-sm-4" align="center">
		<h3>
		<span class="glyphicon glyphicon-list"></span>
		Compare deals
		</h3>
		<p>Select a plan right for you</p>
	</div>
	<div class="col-sm-4" align="center">
		<h3>
		<span class="glyphicon glyphicon-ok"></span>
		Switch today
		</h3>
		<p>We take care of the rest</p>
	</div>
</div>
<div class="col-sm-12" style="padding:28px;">
	<div class="col-sm-offset-3 col-sm-6 message-box" align="center">
		<h3>Thank you for visiting utilityswap.co.uk</h3>
		<p>You can expect to see our site fully up and running in the next couple of months, but first I'd like to tell you a bit about ourselves and what we are looking to provide for you.</p>
		<p>Here at utilityswap.co.uk, we aim to save you money on your utilities, by finding you the best deals for switching gas and electricity, broadband, TV and phone, mobiles, banking and insurance providers.</p>
		<p>This will be done in a few simple steps consisting of entering your details, checking out our returned deals, then signing up to a deal perfect for you. It's that simple!</p>
		<p>We look forward to helping you save money in the future.</p>
	</div>
</div>
<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="copyright">
					Copyright &copy; 2017, utilityswap.co.uk
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="design">
					Created by Nick Marlor | info@utilityswap.co.uk
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>