<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>utilityswap.co.uk</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="home-container">
    <div class="home-img"></div>
    <h1>Want to beat the energy price rises?</h1>
	<h1 class="lead">Switch your energy in minutes!</h1>
    <div class="col-lg-5"></div>
    <div class="col-lg-2">
    	<button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#noticeModal">Start my energy comparison</button>
    </div>
   	<div class="col-lg-5"></div>
</div>
<div class="col-sm-12">
	<div class="home-banner"></div>
	<div class="col-sm-4" align="center">
		<h3>
		<span class="glyphicon glyphicon-pencil"></span>
		Enter your details
		</h3>
		<p class="p-padding">It only takes a few minutes</p>
	</div>
	<div class="col-sm-4" align="center">
		<h3>
		<span class="glyphicon glyphicon-list"></span>
		Compare deals
		</h3>
		<p class="p-padding">Select a plan right for you</p>
	</div>
	<div class="col-sm-4" align="center">
		<h3>
		<span class="glyphicon glyphicon-ok"></span>
		Switch today
		</h3>
		<p class="p-padding">We take care of the rest</p>
	</div>
</div>
<div class="col-sm-12" style="padding:26px;">
	<div class="col-sm-offset-3 col-sm-6 message-box" align="center">
		<h3>Thank you for visiting utilityswap.co.uk</h3>
		<p>You can expect to see the site fully up and running in the next couple of months, but first I'd like to tell you a bit about ourselves and what we are looking to provide for you.</p>
		<p>Here at utilityswap.co.uk, we aim to save you money on your utilities, by finding you the best deals for switching gas and electricity, broadband, TV and phone, mobiles, banking and insurance providers.</p>
		<p>This will be done in a few simple steps consisting of entering your details, checking out our returned deals, then signing up to a deal perfect for you. It's that simple!</p>
		<p>We look forward to helping you save money in the future.</p>
	</div>
</div>
<!-- Modal -->
<div id="noticeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">utilityswap.co.uk message</h4>
      </div>
      <div class="modal-body">
        <p>Unfortunately, we are not yet ready to start comparing any gas &amp; electricity, broadband, TV, phone, mobile, banking or insurance deals.</p>
        <p>We expect this to be resolved soon, to ensure we can get you the best value for money, on any of these utilities.</p>
      	<p>Please keep an eye on the website for any future changes.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>