<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Utility Swap</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="home-container">
    <div class="text-center">
        <h2>Save money by swapping utilities</h2>
        <p class="lead">Switch your energy in minutes!</p>
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
        <input type="submit" value="Start my energy comparison" class="btn btn-block btn-info"/>
    	</div>
    	<div class="col-lg-5"></div>
    </div>
</div>
<div class="col-sm-12">
	<div class="col-sm-4" align="center">
		<h3>
		<span class="glyphicon glyphicon-pencil"></span>
		Enter your details
		</h3>
		<p>It only takes a few minutes</p>
	</div>
	<div class="col-sm-4" align="center">
		<h3>
		<span class="glyphicon glyphicon-list"></span>
		Compare deals
		</h3>
		<p>Select a plan right for you</p>
	</div>
	<div class="col-sm-4" align="center">
		<h3>
		<span class="glyphicon glyphicon-ok"></span>
		Switch today
		</h3>
		<p>We take care of the rest</p>
	</div>
</div>
</body>
</html>