<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
	<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top navbar-color" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
        	<ul class="nav navbar-nav">
        	</ul>
        	<a class="navbar-brand" href="#" th:href="@{/}">utilityswap.co.uk</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#gas" data-toggle="modal" data-target="#noticeModal">Gas &amp; electricity</a></li>
                <li><a href="#broadband" data-toggle="modal" data-target="#noticeModal">Broadband, TV &amp; phone</a></li>
                <li><a href="#gas" data-toggle="modal" data-target="#noticeModal">Mobiles</a></li>
            	<li class="dropdown">
	              <a href="#finance" class="dropdown-toggle" data-toggle="dropdown">Finance<b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                <li><a href="#banking" data-toggle="modal" data-target="#noticeModal">Banking</a></li>
	                <li><a href="#insurance" data-toggle="modal" data-target="#noticeModal">Insurance</a></li>
	              </ul>
            	</li>
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/signin" th:href="@{/signin}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                    </a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul> -->
            
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="#signIn" data-toggle="modal" data-target="#signInModal">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                    </a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
            
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</body>
</html>